{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="card text-center">
		<h1 class="card-header">
			Bienvenue
		</h1>
		<div class="card-body">
			<h5 class="card-title">SN AGENCE IMMOBILIERE</h5>
			<p class="card-text">Vous avez la possibilité d'acheter comme vendre un bien immobilier</p>
			<a href="{{ path('biens_immobiliers')}}" class="btn btn-primary">Afficher tous les biens disponibles</a>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img3.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img3.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img3.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img1.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img1.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img1.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img2.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img2.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card" style=" width: 22rem;">
					<img class="mr-1" src={{ asset('img/biens/img2.jpg')}} alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
					<br><br>
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>A well-known quote, contained in a blockquote element.</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
