{% extends 'base.html.twig' %}

{% block title %}Classe Des Biens
{% endblock %}

{% block body %}
	<style>
		.row {
			padding: 5px;
		}
		/* Add some padding inside the card container */
		.form-control {
			padding: 2px 16px;
		}
		img {
			border-radius: 5px 5px 0 0;
		}
	</style>

	<div class="row">
		<div class="col">
			<img src={{ asset('img/biens/img1.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Immeubles</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img2.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Appartement</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img3.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>John Doe</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src={{ asset('img/biens/img1.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Immeubles</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img2.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Appartement</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img3.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>John Doe</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src={{ asset('img/biens/img1.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Immeubles</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img2.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>Appartement</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
		<div class="col">
			<img src={{ asset('img/biens/img3.jpg')}} alt="Avatar" style="width:100%">
			<div class="form-control">
				<h4>
					<b>John Doe</b>
				</h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
	</div>
{% endblock %}
